*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-main:#53B9D9;
    --color-primary:#0E5D80;
    --color-footer-mobile:#146183;
    --color-footer-desk: linear-gradient(97.01deg, #53B9D9 -6.41%, rgba(20, 77, 101, 0) 110.43%);
    --color-text:#fff;
    --color-text-gray:#474747;
}

html{
    font-size: 62.5%;
}
body{
    color: var(--color-text);
    font-size:1.4rem;
    line-height: 1.7; 
    background-color: var(--color-main); 
}

h1,
h2,
h3{
    color: var(--color-text);
    font-weight: 700;
    margin-bottom: 3rem;
}

.container{
     max-width: 1280px;
     margin: 0 auto;
}

.block{
    padding: 3rem 2rem;
}


@media screen and (min-width:768px) {
    
    body{
        font-size:1.8rem;
        line-height: 2;
    }
}

/* Button */

.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0.2rem 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
    font-size: 2.2rem;
}

.btn__dark{
    background-color: var(--color-primary);
    color:var(--color-main) ;
}

.btn__dark-mobile{
    background-color: var(--color-primary);
    color: #fff; 
    height: 45px;
    line-height: 40px;
}

.btn__white{
    border: 2px solid #fff;
    
}

.btn__light{
    background-color: #5BB1CC;
    color: #fff; 
}

.btn__primary-color{
    background-color: #fff;
    color: var(--color-primary);   
    border: 2px solid var(--color-primary);
}

.btn__home-phone{
    background-color: #fff;
    color: var(--color-main);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Header Section */


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.nav .logo{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav .logo img{
    width: 100%;
}


.nav__menu{
    display: none;
    font-weight: 700;
    font-size: 2.2rem;
    align-items: center;
}

/* .nav__menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    color: var(--color-main);
    background-color: #fff;
    padding: 0 2rem;
    box-shadow: 10 10 0 2px var(--color-primary);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;


.nav__item:not(:last-child){
   
    border-bottom: 2px solid var(--color-main);
}
/* .nav__menu{
    max-height: 100vh;
    opacity: 1;


.nav__item{
    padding: 0.5rem 2rem;
}
} */

.nav__item{
    margin-left: 6rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.nav__item:hover{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.nav__btn{
    display: none;
}

.nav__toggler{
    cursor: pointer;
    background-color: #fff;
    padding: 1.2rem 1rem;
    border-radius: 10px;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: #292D32;
    border-radius: 5px;
    
}

.bar:not(:last-child){
    margin-bottom: 6px;
}

.nav__menu-mobile{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.nav__menu-mobile .btn{
    margin-left: 1rem;
}


@media screen and (min-width:768px) {
    .nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav .nav__menu-mobile{
        display: none;
    }
   
    .nav__menu{
        display: flex;
    }

    .nav__main .logo{
        margin-left: 6rem;
    }
    .nav__btn{
        display: flex;
    }

    .nav__main{
        display: flex;
        justify-content: space-evenly;

    }
    
    .nav__btn .btn{
        margin-left: 4.3rem;
    }
}   


/* Contetn Home-Phone */


.home-phone{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}

.dl-brochure-desk{
    display: none;
}

.home-phone img{
    width: 75%;
    margin-bottom: 5rem;
    align-self: center;
    position: relative;
}

.home-phone .phone-img{
    position: absolute;
    width: 120px;
    top: 0.5%;
    right: 12%;
}

.home-phone__detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-phone__detail h1{
    font-size: 3.2rem;
}

.home-phone__detail p{
    font-size: 1.8rem;
    line-height: 3.7rem;
}

.btn__home-phone{
    margin: 3rem 0;
    width: 128px;
    height: 44px;
}

.btn__home-phone .btn__name {
    font-size: 1.8rem ;
    line-height: 2.7rem;
}


@media screen and (min-width:768px) {

    .home-phone{
        flex-direction: row;
        justify-content: center;
    }

    .home-phone__detail{
        order: 1;
        margin-left: 2rem;
    }

    .dl-brochure-mobile{
        display: none;
    }

    .dl-brochure-desk{
        display: flex;
    }

    .home-phone img{
        order: 2;
        width: 550px;
        height: 583px;
    }


    .home-phone .phone-img{
        display: block;
        width: 230px ;
        height: 480px;
        position:absolute;
        top:0.5%;
        right: 1060px;
        z-index: 1;
    }

    .home-phone__detail h1{
        font-size: 9rem;
    }
    
    .home-phone__detail p{
        width: 800px;
        font-size: 3.6rem;
        line-height: 5.4rem;
    }

    .btn__home-phone{
        margin: 10rem 0;
        width: 276px;
        height: 72px;
    }

    .btn__home-phone .btn__name {
        font-size: 3.2rem ;
        line-height: 4.8px;
    }
}

/* Products Section */

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    padding-top: 0 ;
}

.product__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__item img{
    margin: 1rem 0;
    width: 84px;
    height: 84px;
}


@media screen and (min-width:768px) {

    .products{
        grid-template-columns: repeat(6,1fr);
        padding: 9rem 0;
    }

}

/* Central Device */

.central-device{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.central-device img{
    max-width: 320px;
    margin-bottom: 3rem;
}

.central-device h2{
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.central-device p{
    font-size: 1.8rem;
    line-height: 3.5rem;
}


@media screen and (min-width:768px) {

    .central-device{
    margin-bottom: 6rem;
    }

    .central-device img{
        order: 2;
        max-width: 760px;
    }

    .central-device h2{
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
    
    .central-device p{
        max-width: 850px;
        font-size: 3.2rem;
        line-height: 5.8rem;
        margin: 3rem 0 6rem;
    }
    

}

/* Downlod Section */

.download{
    background-color: #F6F6F6;
}

.download__brochure , .download__app {
  display: flex;
  align-items: center;
}

.download__brochure img{
    height: 200px;
}

.download__app img{
    height: 225px;
    width: 111px;
    margin: 0 3rem;
}

.brochure__detail , .app__detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 375px;
    padding-left: 2rem;
    height: 168px;
}

.app__detail{
    height: 334px;  
}

.brochure__detail h2 , .app__detail h2{
    color: var(--color-primary);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.brochure__detail p , .app__detail p{
    color: #5B5B5B;
    font-size: 1.4rem;
}

.btn__ligh , .btn__primary-color{
    margin: 1.5rem 0;
}

.btn__primary-color span .btn__light span{
    font-size: 1.4rem;
    line-height: 2.1rem;
}

@media screen and (min-width:768px) {
    
    .download__brochure img{
        height: auto;
    }
    
    .download__app img{
        height: auto;
        width: 235px;
        margin: 9rem 10rem;
    }
    .brochure__detail , .app__detail{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 770px;
    }

    .app__detail{
        margin-right: 6rem;
    }

    .brochure__detail h2 , .app__detail h2{
        color: var(--color-primary);
        font-size: 5.4rem;
        margin-bottom: 2rem;
    }
    
    .brochure__detail p , .app__detail p{
        color: #5B5B5B;
        font-size: 3.6rem;
    }
}

/* Capabilities Section */

.Capabilities{
    display: grid;
    grid-template-columns: repeat(2,fit-content(50%));
    gap: 2rem;
}

.capability img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.capability p{
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: var(--color-text-gray);
    
}


.cooperation h3{
    font-size: 2rem;
    line-height: 3rem;
    color: var(--color-primary);
}

.cooperation p{
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--color-text-gray);
}

.cooperation img{
    width: 100%;
    padding: 2.5rem;
}

@media screen and (min-width:768px) {

    .Capabilities{
       
        grid-template-columns: repeat(4,1fr);
    }

    .cooperation{
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
        padding: 8rem;
    }

    .cooperation__title{
        max-width: 540px;
        padding-top: 12rem;
    }

    .cooperation h3{
        font-size: 6rem;
        line-height: 8rem;
        color: var(--color-primary);
    }
    
    .cooperation p{
        font-size: 3rem;
        line-height: 5rem;
        color: var(--color-text-gray);
    }

    .cooperation img{
        width: 40%;
        padding: 0;
    }
}